.taskItem{
    border: solid;
    border-color: black;
    margin: 2px;
    width: 300px;
}

#addTaskButton{
    width: 40px;
}

.yes{
    border-color: green !important;
    background-color: lightgreen;
}

.taskLabel{
    float: left;
    margin-top: 4px;
    margin-left: 3px;
}

.taskButtons img{
    width: 20px;
    margin-top: 4px;
    text-align: right;
}