.taskItem{
    border: solid;
    border-color: black;
    margin: 2px;
}

.taskButtons{
    /* float: right; */
}

.taskLabel{
    /* float: left; */
}

.taskDetails{

}

#addTaskButton{
    width: 40px;
}